.auth-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.auth-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.auth-text{
    color: midnightblue;
    font-size: 48px;
    font-weight: 700;
}

.auth-underline{
    width: 61px;
    height: 6px;
    background: midnightblue;
    border-radius: 9px;
}

.auth-inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.auth-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: linear-gradient(145deg, #f0f0f0, #d3d3d3);
    border-radius: 10px;
}


.auth-input img {
    margin: 0px 30px;
    width: auto; 
    display: inline-block;
}
.auth-imput-image{
    margin: 0px 30px;
    width: auto; 
    display: inline-block;
}

.auth-input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.googleLogin {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.auth-submit-container{
    display:  flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background: midnightblue;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}

.validation-error {
    color: red;
    font-size: 1.5rem;
    margin-left: 60px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .global-error {
    color: red;
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
  }

  .google-login-button {
    float:none;
    position:static;
    display:block;
    margin:auto;
    width:max-content;
  }

  .google-login-button-parent { 
    display: flex;
    justify-content: center; 
}

  

